<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin : 50px">
    {% if reSource %}
    <table>
        {% for i in reSource %}
        <tr>
            <th>이미지</th>
            <th>TEXT</th>
            <th></th>
        </tr>
        <tr>
            <th>
                <img src="/static/source{{i.src_file}}" style="width : 90%">
            </th>
            <th>{{i.result_text}}</th>
            <th></th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        이미지를 업로드 하세요
    <div>
        <a href="ocr_upload" ><button>READ</button></a>
    </div>
    {% endif %}
</div>
</body>
</html>